/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* Add flex box to the entire body */
    display: flex;
    flex-direction: column;

    background-color: lightgrey;

    flex: auto;
}

/* Styling for the entire calculator */
.calculator{

    background-color: rgba(100, 100, 255, 1);
    position: absolute;

    height: 75%;
    width: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
    border: 0.4em solid #000000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

    padding: 1.5em;


}

/* styling for the display */
.display{

    width: 75%;
    height: 10%;

    border: 0.2em solid #000000;

    background-color: rgba(18, 18, 20, 1);



}

.row{
    width: 100%;
    display:flex;
    flex-direction: row;

    justify-content: space-around;

}

.button{
    font-size: 1em;
    font-weight: bold;
    background-color: #020222;

    height: 1.75em;
    width: 3em;

    color: rgb(200, 200, 200);
}