/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* Add flex box to the entire body */
    display: flex;
    flex-direction: column;

    background-color: #d4d4d4;

    flex: auto;
}

/* Styling for the entire calculator */
.calculator {

    background-color: #6464ff;
    position: absolute;

    height: 75%;
    width: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    border: 0.4em solid #000000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

    padding: 1.5em;


}

/* styling for the display */
.display {

    width: 75%;
    height: 16%;

    border: 0.2em solid black;
    background-color: #020222;
    color: #ffffff;
    font-size: 4vh;

    text-align: right;

    display: flex;
    flex-direction: column;

}

/* style equation and answer display */
.display>div {
    background-color: #020222;
    color: #ffffff;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;

}

.button {
    font-size: 1em;
    font-weight: bold;
    background-color: #020222;

    height: 1.75em;
    width: 3em;

    color: #ffffff;
}

/* Styling for colour picker */
.container {
    position: absolute;

    height: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    left: 85%;
    top: 50%;

    border: 0.4em solid #000000;
    border-radius: 0.75em;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;



}

.colour {

    width: 100%;
    padding: 0em 1.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

input.colourP {

    height: 6vh;
    width: 3vw;

    border-radius: 0.5em;

    content: fill;
    background-color: none;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}